{% extends 'employee_register/base.html' %}

{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Full Name</td>
                <td>Mobile</td>
                <td>Position</td>
                 <td> 
                    <a href="{% url 'form'  %}" class="btn btn-outline-success">
                        <i class="fa fa-plus"></i>Add
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for employee in employee_list %}
            <tr>
                <td>{{employee.name}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.position}}</td>
                <td> 
                    <a href="{% url 'update' employee.id %}" class="btn text-secondary px-0">
                        <i class="fa fa-edit"></i>
                    </a>
                    <form action='{% url 'delete' employee.id %}' method='post' class='d-inline'>
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    
<script>
    document.getElementById("title").innerHTML = "Employee List";
</script>
{% endblock content %}